{%extends 'base.html'%}

{%block title%}Escolar{%endblock%}

{%block content%}

    {% include 'partials/header.html' %}
    <article class="w-75 m-auto bg-white rounded">

            

           
                        <!--Transportadores Escolares-->
                        <section id="find_driver" class="p-4">
                            <h2>Transportadores Escolares do colegio santa brigida</h2>
            
                            <div class="card-columns">
                                <div class="card mb-5">
                                    <div class="card-header">
                                        <div class="media">
                                            <div class="h-25 w-25">
                                                <img class="rounded-circle d-sm-none d-md-none d-lg-block img-fluid img-thumbnail align-self-center mr-2" src="https://source.unsplash.com/random/120x120" alt="">
                                            </div>
                                            <div class="media-body my-auto ml-2">
                                                <h4 class="m-auto">Tio Alex </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="info_van" class="media">
                                            <div class="media-body">
                                                <div id="info_van" class="mb-3">
                                                    <h5 class="card-title">Veículo</h5>
                                                    <p class="card-text">Renault Master 2015</p>
                                                </div>
                                                <div id="regions" class="">
                                                    <h5 class="card-title">Regiões</h5>
                                                    <ul class="list-unstyled">
                                                        <li>Jardim Paulistano</li>
                                                        <li>Moema</li>
                                                        <li>Intergalos</li>
                                                        <li>Sol Nascente</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <span>&copy; Copyright</span>
                                    </div>
                                </div>
                                <div class="card mb-5">
                                    <div class="card-header">
                                        <div class="media">
                                            <div class="h-25 w-25">
                                                <img class="rounded-circle d-sm-none d-md-none d-lg-block img-fluid img-thumbnail align-self-center mr-2" src="https://source.unsplash.com/random/120x120" alt="">
                                            </div>
                                            <div class="media-body my-auto ml-2">
                                                <h4 class="m-auto">Tio Paulo </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="info_van" class="media">
                                            <div class="media-body">
                                                <div id="info_van" class="mb-3">
                                                    <h5 class="card-title">Veículo</h5>
                                                    <p class="card-text">Renault Master 2015</p>
                                                </div>
                                                <div id="regions" class="">
                                                    <h5 class="card-title">Regiões</h5>
                                                    <ul class="list-unstyled">
                                                        <li>Jardim Paulistano</li>
                                                        <li>Moema</li>
                                                        <li>Intergalos</li>
                                                        <li>Sol Nascente</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <span>&copy; Copyright</span>
                                    </div>
                                </div>
                            </div>
                            
                        </section>
                    
                            <h2>Transportadores Escolares do colegio kodomo</h2>
            
                            <div class="card-columns">
                                <div class="card mb-5">
                                    <div class="card-header">
                                        <div class="media">
                                            <div class="h-25 w-25">
                                                <img class="rounded-circle d-sm-none d-md-none d-lg-block img-fluid img-thumbnail align-self-center mr-2" src="https://source.unsplash.com/random/120x120" alt="">
                                            </div>
                                            <div class="media-body my-auto ml-2">
                                                <h4 class="m-auto">Tio Alex </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="info_van" class="media">
                                            <div class="media-body">
                                                <div id="info_van" class="mb-3">
                                                    <h5 class="card-title">Veículo</h5>
                                                    <p class="card-text">Renault Master 2015 com climatizador de ar</p>
                                                </div>
                                                <div id="regions" class="">
                                                    <h5 class="card-title">Regiões</h5>
                                                    <ul class="list-unstyled">
                                                        <li>Jardim Paulistano</li>
                                                        <li>Moema</li>
                                                        <li>Intergalos</li>
                                                        <li>Sol Nascente</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <span>&copy; Copyright</span>
                                    </div>
                                </div>
                                <div class="card mb-5">
                                    <div class="card-header">
                                        <div class="media">
                                            <div class="h-25 w-25">
                                                <img class="rounded-circle d-sm-none d-md-none d-lg-block img-fluid img-thumbnail align-self-center mr-2" src="https://source.unsplash.com/random/120x120" alt="">
                                            </div>
                                            <div class="media-body my-auto ml-2">
                                                <h4 class="m-auto">Tio Paulo </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="info_van" class="media">
                                            <div class="media-body">
                                                <div id="info_van" class="mb-3">
                                                    <h5 class="card-title">Veículo</h5>
                                                    <p class="card-text">Renault Master 2015</p>
                                                </div>
                                                <div id="regions" class="">
                                                    <h5 class="card-title">Regiões</h5>
                                                    <ul class="list-unstyled">
                                                        <li>Jardim Paulistano</li>
                                                        <li>Moema</li>
                                                        <li>Intergalos</li>
                                                        <li>Sol Nascente</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <span>&copy; Copyright</span>
                                    </div>
                                </div>
                                <div class="card mb-5">
                                    <div class="card-header">
                                        <div class="media">
                                            <div class="h-25 w-25">
                                                <img class="rounded-circle d-sm-none d-md-none d-lg-block img-fluid img-thumbnail align-self-center mr-2" src="https://source.unsplash.com/random/120x120" alt="">
                                            </div>
                                            <div class="media-body my-auto ml-2">
                                                <h4 class="m-auto">Tio Rodrigo </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="info_van" class="media">
                                            <div class="media-body">
                                                <div id="info_van" class="mb-3">
                                                    <h5 class="card-title">Veículo</h5>
                                                    <p class="card-text">Renault Master 2015</p>
                                                </div>
                                                <div id="regions" class="">
                                                    <h5 class="card-title">Regiões</h5>
                                                    <ul class="list-unstyled">
                                                        <li>Jardim Paulistano</li>
                                                        <li>Moema</li>
                                                        <li>Intergalos</li>
                                                        <li>Sol Nascente</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <span>&copy; Copyright</span>
                                    </div>
                                </div>
                            </div>
                            
                        </section>

                    
                            <h2>Transportadores Escolares do colegio munincipal kleber</h2>
            
                            <div class="card-columns">
                                <div class="card mb-5">
                                    <div class="card-header">
                                        <div class="media">
                                            <div class="h-25 w-25">
                                                <img class="rounded-circle d-sm-none d-md-none d-lg-block img-fluid img-thumbnail align-self-center mr-2" src="https://source.unsplash.com/random/120x120" alt="">
                                            </div>
                                            <div class="media-body my-auto ml-2">
                                                <h4 class="m-auto">Tio Alex </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="info_van" class="media">
                                            <div class="media-body">
                                                <div id="info_van" class="mb-3">
                                                    <h5 class="card-title">Veículo</h5>
                                                    <p class="card-text">Renault Master 2015</p>
                                                </div>
                                                <div id="regions" class="">
                                                    <h5 class="card-title">Regiões</h5>
                                                    <ul class="list-unstyled">
                                                        <li>Jardim Paulistano</li>
                                                        <li>Moema</li>
                                                        <li>Intergalos</li>
                                                        <li>Sol Nascente</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <span>&copy; Copyright</span>
                                    </div>
                                </div>
                            </div>
                            
                        </section>

                    

{%endblock%}    
         
