{% extends 'base.html' %}
{% load static %}

{% block 'body' %}

    {% include 'partials/header.html' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <a href="{% url 'plataforma:home' %}" class="link-lateral">
                    <div class="card-lateral">
                        <img src="{% static 'plataforma/img/pais.png' %}" class="sm-image">
                        <br>
                        <br>

                        <h3>Gerenciador de cadastros</h3>
                    </div>
                </a>

                <a href="{% url 'plataforma:escolas' %}" class="link-lateral">
                    <div class="card-lateral">
                        <img src="{% static 'plataforma/img/escola.png' %}" class="sm-image">
                        <br>
                        <br>

                        <h3>Escolas</h3>
                    </div>
                </a>

                <a href="{% url 'plataforma:responsaveis' %}" class="link-lateral">
                    <div class="card-lateral">
                        <img src="{% static 'plataforma/img/pais.png' %}" class="sm-image">
                        <br>
                        <br>

                        <h3>Responsáveis</h3>
                    </div>
                </a>

                <a href="{% url 'plataforma:transportadores' %}" class="link-lateral">
                    <div class="card-lateral">
                        <img src="{% static 'plataforma/img/transporte.png' %}" class="sm-image">
                        <br>
                        <br>

                        <h3>Transportadores</h3>
                    </div>
                </a>

            </div>

            <div class="col-md-8">
                {% block 'plataforma' %}


                {% endblock %}
            </div>

        </div>
    </div>
{% endblock%}


        <!-- Conteudo -->
        {% block content %}{% endblock %}
        


</html>